<h3>Structural Directives</h3>

<h5>NgIf</h5>

<button (click)="isOpen = !isOpen">Spoil</button>
<p *ngIf="isOpen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, in.</p>

<h5>NgFor</h5>

<ul>
	<li *ngFor="let fruit of listItem; index as i; odd as isOdd"
		[ngClass]="{ 'odd': isOdd }"
	>
		{{ i }} - {{ fruit }} - {{ isOdd ? 'impair' : 'pair' }}
	</li>
</ul>

<button (click)="add()">Add</button>

<h5>NgSwitch</h5>

<input [(ngModel)]="choice">

<div [ngSwitch]="choice">
	<div *ngSwitchCase="1">Pomme</div>
	<div *ngSwitchCase="2">Poire</div>
	<div *ngSwitchCase="3">Fraise</div>
	<div *ngSwitchDefault>Entrez 1, 2 ou 3</div>
</div>
